{% extends 'base.html' %}

{% block content %}
<h2>Create New Account</h2>

{% if mismatch %}
<p class='color:red;'>
        ERROR: Passwords do not match.
</p>
{% endif %}

{% if taken %}
<p class='color:red;'>
        ERROR: Username already in use.
</p>
{% endif %}

{% if not mismatch and not taken and not empty %}
<p>Account succesfully created, please login</p>
{% endif %}

{% if empty %}
<p>Please enter a valid username and password</p>
{% endif %}

<form action='/create_account' method="POST">
        <table>
                <tr>
                <td>
                        username
                </td>
                <td>
                        <input type=text name=username>
                </td>
                </tr>
                <tr>
                <td>
                        password
                </td>
                <td>
                        <input type=password name=password>
                </td>
                </tr>
		<tr>
                <td>
                        password2
                </td>
                <td>
                        <input type=password name=password2>
                </td>
                </tr>
                <tr>
                        <td></td>
                        <td><input type=submit value='log in'></td>
                </tr>
        </table>
</form>
{% endblock %}
